@model IEnumerable<EmployeeViewModel>

<h3 class="display-4">Employees</h3>
<button class="btn btn-success" data-toggle="modal" data-target="#myModal"> Create New Employee</button>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Employee Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="createform">
                    <label>Name:</label><br>
                    <input type="text" style="width:100%" required id="name" name="name" pattern="[A-Za-z\s\.]{1,15}" maxlength="15" placeholder="Enter the Name"/><br />
                    <label>Department:</label><br />
                    <select name="Department" required id="dept" style="width:100%">
                        <option value="">--Choose an Option--</option>
                        <option value="Finance">Finance</option>
                        <option value="Developer">Developer</option>
                        <option value="Testing">Testing</option>
                    </select><br />
                    @*<input type="text" style="width:100%" id="dept" name="department"/><br />*@
                    <label>Age:</label><br />
                    <input type="number" style="width:100%" required id="age" name="age" min="18" max="50" placeholder="Enter the Age"/><br />
                    <label>Address:</label><br />
                    <input type="text" style="width:100%" required id="address" name="address" pattern="[A-Za-z\s\,]{1-30}" maxlength="30" placeholder="Enter the Address"/><br /><br /><br />
                    <input type="submit" value="Create" class="btn btn-success" />
                   
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="example" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Update Employee Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="updateform">
                    <label>ID:</label><br />
                    <input type="number" style="width:100%" id="id" name="id" disabled /><br />
                    <label>Name:</label><br>
                    <input type="text" style="width:100%" id="names" name="name" required pattern="[A-Za-z\s]{1,15}" maxlength="15" /><br />
                    <label>Department:</label><br />
                    <select name="Department" id="department" style="width:100%" required>
                         <option value="">--Choose an Option--</option>
                        <option value="Finance">Finance</option>
                        <option value="Developer">Developer</option>
                        <option value="Testing">Testing</option>
                    </select><br />
                   
                    <label>Age:</label><br />
                    <input type="number" style="width:100%" id="ages" name="age" required min="18" max="50" /><br />
                    <label>Address:</label><br />
                    <input type="text" style="width:100%" id="addres" name="address" required pattern="[A-Za-z\s\,]{1-9}" maxlength="30"/><br /><br /><br />
                    <input type="submit" value="Update" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered" >
    <thead>
        <tr>
            <td>
                <b>Id</b>
            </td>
            <td>
                <b>Name</b>
            </td>
            <td>
                <b>Department</b>
            </td>
            <td>
            </td>
        </tr>

    </thead>
    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.Name</td>
            <td>@employee.Department</td>
            <td>
                
                <button class="btn btn-primary employeeDetails" data-id="@employee.Id"> Details</button>
                <button class="btn btn-info employeeEdit" data-id="@employee.Id" data-toggle="modal" data-target="#example"> Edit</button>

                <button class="btn btn-danger employeeDelete" data-id="@employee.Id"> Delete</button>
            </td>
        </tr>
    }
</table>

<div id="EmployeeCard">
    
</div>

@section Scripts{
    <script src="~/js/employee.js"></script>
}
